@model NewVIPABC.Models.ClientBasicModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@{var LobbySession = ViewData["LobbySession"] as NewVIPABC.Models.LobbySession;}
@{var BannerImageList = ViewData["BannerImage"] as IEnumerable<NewVIPABC.Models.Banner>;}
@{var FamousData = ViewData["FamousData"] as IEnumerable<NewVIPABC.Models.FamousStory>;}
@{var LessonDaily = ViewData["LessonDaily"] as NewVIPABC.Models.LessonDailyModel;}
@{var ImageUrl = NewVIPABC.Extensions.PublicFacade.ImageUrl;}
@{var ImageUrlMain = NewVIPABC.Extensions.PublicFacade.ImageUrlMain;}
@{var XmlData = ViewData["XmlData"] as IEnumerable<NewVIPABC.Models.DDLModel>;}
@{var MediaItem = ViewData["MediaItem"] as IEnumerable<NewVIPABC.Models.DDLModel>;}
@{var News = ViewData["News"] as IEnumerable<NewVIPABC.Models.News>;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- 網頁宣告簡體 避IE免簡體字型錯位 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <meta name="360-site-verification" content="cf884938eccdd48a6033fc9c24aba305" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>英语学习网站_英语口语_英语听力_VIPABC真人在线英语外教网</title>
    <meta name="description" content="VIPABC是全球最大的真人英语外教网站,专业英语培训机构.自行研发DCGS动态课程学习系统,以学习者为中心,和全球外教同步视频实时互动,提供英语口语听力学习,企业,商务英语培训服务." />
    <meta name="keywords" content="英语学习网站,英语口语,英语听力,英语培训机构,VIPABC,在线英语学习,英语外教,英语家教" />
    <meta http-equiv="content-language" content="zh-cn" />
    <meta name="Contact" content="电话:4006-303030" />
    <meta name="Copyright" content="麦奇教育集团VIPABC Inc." />
    <meta name="Author" content="VIPABC英语" />
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
        name="viewport" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/event.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.scrollTo-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.easing.1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/albumSlides.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/fullautoemail.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/index_2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/verify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/index_8.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/error_handle.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/jquery-ui-1.10.0.custom.css")" />
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/font.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/albumSlides.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/form.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/footer.css")" rel="stylesheet" type="text/css" />
    <!-- fancybox -->
    <script type="text/javascript" src="@Url.Content("~/Content/source/jquery.fancybox.js?v=2.1.4")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/source/helpers/jquery.fancybox-buttons.js?v=1.0.5")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7")"></script>
    <script type="text/javascript"src="@Url.Content("~/Content/source/helpers/jquery.fancybox-media.js?v=1.0.5")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/source/jquery.fancybox.css?v=2.1.4")"
        media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/source/helpers/jquery.fancybox-buttons.css?v=1.0.5")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/fancybox.js")"></script>
    <!-- fancybox -->
    <link rel="shortcut icon" type="image/ico" href="http://www.vipabc.com/favicon.ico" />
    <script type="text/javascript">
        // banners 居中對位
        $(document).ready(function () {
            $(window).resize(function () {
                document.getElementById("album").style.left = (document.documentElement.clientWidth - document.getElementById("album").offsetWidth) / 2 + 'px';
            });
            $(window).resize();
        });
        // banners 居中對位
        // start 弹出指定大小在线客服窗口
        function OpenModalDialog() {
            window.showModalDialog('http://onlineservice.vipabc.com/VIPABC', window, 'dialogWidth=650px;dialogHeight=570px;');
        }
        // end 弹出指定大小在线客服窗口
        // 验证成功之后submit
        function OnSubmit() {
            if (checkForm()) {
                document.getElementById("form1").action = 'http://192.168.101.73:91/program/regist/regist_exe.asp';
                document.getElementById("form1").submit();
            }
        }
        $(document).ready(function () {
            $("#txt_get_sdate").datepicker({ showOtherMonths: true, minDate: '1d', maxDate: '7d', rangeSelect: false, changeFirstDay: false, dateFormat: 'yy/mm/dd', yearRange: '-0:+1' }).keydown(function () { return false; });
        });
        function sendepaper() {
            var epaper_email = document.getElementById("txt_email").value;
            //檢驗email格式    
            if (g_obj_verify.isEmailAddressValid(epaper_email) == g_obj_error_handle.error_code.input_data_is_empty) {
                alert("请输入您的邮箱");
                $("#txt_email").focus();
                return false;
            }
            if (g_obj_verify.isEmailAddressValid(epaper_email) != g_obj_error_handle.success_code) {
                alert("您输入的邮箱格式不正确");
                $("#txt_email").focus();
                return false;
            }
            if (epaper_email == "请输入您的邮箱") {
                alert("请输入您的邮箱");
                $("#txt_email").focus();
                return false;
            }
            //將使用者留下的email寫入資料庫	
            document.getElementById("form1").action = '@Url.Action("Index", "Home")?email=' + epaper_email + '&&type=1';
            document.getElementById("form1").submit();
        }
        function ChangeYoukuURL(videoID) {
            var videoAddress = "";
            videoAddress = "<embed src='http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=" + videoID + "&winType=adshow&isAutoPlay=true' quality='high' wmode='Opaque' flashvars='isAutoPlay=true&isShowRelatedVideo=false' width='600' height='363' align='middle' allowscriptaccess='sameDomain' type='application/x-shockwave-flash'></embed>"
            $("#thevideo").html(videoAddress);
            return false;
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { name = "form1", id = "form1" }))
    {  
        <!-- fixed_box 固定註冊表單 start -->
        <div class="fixed_box">
            <div class="fixed_box_960">
                <div class="registration_form">
                    <a href="javascript:OpenModalDialog()">
                        <img src="@Url.Content("~/Content/images/CustomerService.png")" width="138" height="94" style="margin-left: 136px;"></a>
                    <div style="position: relative; background: url(@Url.Content("~/Content/images/Form_bg.png")); width: 268px;
                    height: 316px;">
                        <div id="form_box" style="position: absolute; width: 210px; height: auto; top: 90px;
                            left: 32px;">
                            <input id="hdn_score" name="hdn_score" type="hidden" value="demo" />
                            <input type="hidden" id="hdn_phone_nationcode" name="hdn_phone_nationcode" value="+86" />
                            <input type="text" id="txt_cname" name="txt_cname" class="form_input" value="请输入您的姓名"
                                onfocus="if(this.value=='请输入您的姓名'){this.value='';}this.style.color='#666';"
                                 onblur="if(this.value==''){this.value='请输入您的姓名';this.style.color='#ccc';}else{this.style.color='#666';}" />
                            <input type="text" class="form_input" name="txt_email_addr" id="txt_email_addr" value="请输入电子邮箱"
                             onfocus="if(this.value=='请输入电子邮箱'){this.value='';}this.style.color='#666';"
                                onblur="if(this.value==''){this.value='请输入电子邮箱';this.style.color='#ccc';}else{this.style.color='#666';}" /><br />
                            <select name="sel_nation_code" id="sel_nation_code" class="form_select" onchange="changeNationalCode(this)"
                             onfocus = "this.style.color='#666'" onblur = "if(this.value=='0'){this.style.color='#ccc';}else{this.style.color='#666';}" >
                                <option value="0">请选择</option>
                                @if (@XmlData != null)
                                {
                                    foreach (var item in XmlData)
                                    {
                                        if (item.value == "+86")
                                        {
                                    <option value="@item.value" selected="selected">@item.text</option> 
                                        }
                                        else
                                        {
                                    <option value="@item.value">@item.text</option> 
                                        }
                                    }
                                }
                            </select>
                            <input type="text" id="txt_phone_nationcode" name="txt_phone_nationcode" class="form_input width_50"
                                value="+86" onchange="document.getElementById('hdn_phone_nationcode').value=document.getElementById('txt_phone_nationcode').value" />
                            <input type="text" class="form_input width_145" name="txt_cphone" id="txt_cphone"
                                value="请输入移动电话"
                                 onfocus="if(this.value=='请输入移动电话'){this.value='';}this.style.color='#666';"
                                  onblur="if(this.value==''){this.value='请输入移动电话';this.style.color='#ccc';}else{this.style.color='#666';}" />
                            <input type="text" class="form_input width_100" name="txt_get_sdate" id="txt_get_sdate"
                                value="学习服务日期" onblur="if(this.vaue==''){this.style.color='#ccc';this.value='学习服务日期';}else{this.style.color='#666';}" />
                            <select name="sel_order_time" id="sel_order_time" class="form_select width_100" onfocus="this.style.color='#666'"
                                onblur="if(this.value=='0'){this.style.color='#ccc';}else{this.style.color='#666';}">
                                <option value="0">选择时间</option>
                                <option value="10:00~12:00">10:00~12:00</option>
                                <option value="12:00~18:00">12:00~18:00</option>
                                <option value="18:00~22:00">18:00~22:00</option>
                            </select>
                            <select name="rad_know_abc" id="rad_know_abc" class="form_select" onfocus = "this.style.color='#666'", onblur = "if(this.value=='0'){this.style.color='#ccc';}else{this.style.color='#666';}">
                                <option value="0">-请选择-</option>
                                @if (@XmlData != null)
                                {
                                    foreach (var item in MediaItem)
                                    {
                                    <option value="@item.value">@item.text</option>
                                    }
                                }
                            </select><br />
                            <div class="y_btn">
                                <a class="btn_text color_fff" href="javascript:void(0);" onclick="javascript:OnSubmit();">
                                    <div>
                                        立即预约</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fixed_box 固定註冊表單 start -->
        <!-- top_news 上方新聞以及註冊按鈕群 -->
        <div id="top_news">
            <div class="topmain">
                <div class="topleft">
                @if (@News != null)
                {
                    foreach (var item in News)
                    {
                         <a href="@Url.Action("NewsDetail", "About")?newsType=@item.newsType&newsID=@item.NewsId" target="_blank">@item.NewsTitle</a>
                    }
                }                   
                </div>
                <ul class="user_register_bar">
                    <li>
                        <div class="g_btn">
                            <a class="btn_text color_fff" href="@Url.Action("Login", "Login")">
                                <div>
                                    会员登录</div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="r_btn">
                            <a class="btn_text color_fff" href="@Url.Action("UserRegister", "Login")">
                                <div>
                                    免费注册</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- nav 上方主要按鈕們 捲動時會固定在上方-->
        <div id="top_nav">
            <div class="topmain">
                <div class="logo">
                    <a class="index_top" href="javascript:pageScroll('')">
                        <img src="@Url.Content("~/Content/images/logo.png")" width="187" height="49"></a></div>
                <ul class="nav_bar">
                    <li><a class="part_01" href="javascript:pageScroll('#part_01')">服务特色</a></li>
                    <li><a class="part_02" href="javascript:pageScroll('#part_02')">最有效学习法</a></li>
                    <li><a class="part_03" href="javascript:pageScroll('#part_03')">行动学习</a></li>
                    <li><a class="part_04" href="javascript:pageScroll('#part_04')">免费在线直播讲堂</a></li>
                    <li><a class="part_05" href="javascript:pageScroll('#part_05')">客户见证</a></li>
                    <li><a class="part_06" href="javascript:pageScroll('#part_06')">英语学习专区</a></li>
                    <li><a class="part_07" href="http://www.vipabc.com/biz/" target="_blank">企业培训</a></li>
                </ul>
                <div class="tel">
                    <a href="tel:4006-30-30-30">
                        <img src="@Url.Content("~/Content/images/tel.png")" width="214" height="25"></a></div>
            </div>
        </div>
        <!-- banner部分 start -->
        <div id="banners" style="position: relative; margin-top: -5px; width: 100%; height: 360px;">
            <div id="album">
                <div class="slides">
                    <ul>
                        @if (BannerImageList != null)
                        {
                            foreach (var item in BannerImageList)
                            {
                            <li><a href="@item.BannerUrl" target="_blank">
                                <img src="@ImageUrl/BannerImg/@item.BannerPicture" border="0"/></a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="Thumbnail">
                    <ul>
                        @if (BannerImageList != null)
                        {
                            foreach (var item in BannerImageList)
                            {
                            <li class="Thumb"><a href="#">
                                <img src="@ImageUrl/BannerImg/@item.BannerSmallPic" width="59" height="36"></a></li>
                            }
                        }
                    </ul>
                </div>
                <a href="#" class="prev">&lt;</a> <a href="#" class="next">&gt;</a>
            </div>
        </div>
        <!-- banner部分 end -->
        <!-- part_01部分 start -->
        <div id="part_01" class="box_Orange">
            <div class="box_960">
                <div class="box_660" style="margin: 20px 0 0 0;">
                    <ul>
                        <li style="float: left; margin-right: 5px"><a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=XMzE5NjQ2NjQ4&winType=adshow&isAutoPlay=true">
                            <img src="@Url.Content("~/Content/images/Service_img_01.jpg")" width="126" height="101">
                        </a>
                            <h5 class="color_fff" style="text-align: center;">
                                全英文学习环境</h5>
                        </li>
                        <li style="float: left; margin-right: 5px"><a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=XMzgzNzU3MDA4&winType=adshow&isAutoPlay=true">
                            <img src="@Url.Content("~/Content/images/Service_img_02.jpg")" width="126" height="101">
                        </a>
                            <h5 class="color_fff" style="text-align: center;">
                                在线学习、真人互动</h5>
                        </li>
                        <li style="float: left; margin-right: 5px"><a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=XMzgzNzU3MDA4&winType=adshow&isAutoPlay=true">
                            <img src="@Url.Content("~/Content/images/Service_img_03.jpg")" width="126" height="101">
                        </a>
                            <h5 class="color_fff" style="text-align: center;">
                                24H学习不打烊</h5>
                        </li>
                        <li style="float: left; margin-right: 5px"><a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=XMzgzNzU3MDA4&winType=adshow&isAutoPlay=true">
                            <img src="@Url.Content("~/Content/images/Service_img_04.jpg")" width="126" height="101">
                        </a>
                            <h5 class="color_fff" style="text-align: center;">
                                全球外籍顾问</h5>
                        </li>
                        <li style="float: left; margin-right: 5px"><a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=XMzgzNzU3MDA4&winType=adshow&isAutoPlay=true">
                            <img src="@Url.Content("~/Content/images/Service_img_05.jpg")" width="126" height="101">
                        </a>
                            <h5 class="color_fff" style="text-align: center;">
                                移动学习</h5>
                        </li>
                        <span class="title_wrap">
                            <img src="@Url.Content("~/Content/images/title_01.png")" width="660" height="96" alt="服务特色 Service Features" title="服务特色 Service Features" ></span>
                    </ul>
                </div>
                <div class="box_660 color_fff" style="margin: 25px 0 0px 0;">
                    <div class="title_wrap">
                    </div>
                    <h4>
                        英语学习最重要的「环境」与「方法」， VIPABC 为您身打造！ 忘记过去事倍功半的学习阴影，与我们直奔最方便、最具成效的『聪明学习法』。
                    </h4>
                </div>
            </div>
        </div>
        <!-- part_01部分 end -->
        <div id="part_02" class="box_White">
            <div class="T_Orange">
            </div>
            <div class="box_960">
                <div class="box_660 color_333">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_02.png")" width="660" height="96" alt="如何学习 How to Learn?" title="如何学习 How to Learn?" >
                    </div>
                    <h4>
                        用对的方式学英文，立即开始崭新的学习旅程！<br>
                        <br>
                        1.掌握您的英文水平：外籍顾问為您进行「在线语言程度分析」了解您英文程度，掌握您的学习方向</h4>
                    <h4>
                        <br>
                        2.最適合您的課程：透過个性化的「学习好设定」包括：兴趣、学习重点、职业，VIPABC獨家專利DCGS系统会为您排最合适的课程与顾问<br>
                        <br>
                    </h4>
                    <h4>
                        3.最有效的学习方式：「在线顾问真人互动教学」课堂中您将充分了解学习内容，专业外籍顾问与您即时互动，纠正您的发音，解读例句国外常用语法，让您学到地道英语！<br>
                        <br>
                        选择 VIPABC ，让您英语沟通无障碍，遇到外国人不再手足无措
                    </h4>
                </div>
                <div class="box_660" style="margin-top: 20px">
                    <ul>
                        <li style="float: left; margin-left: 20px">
                            <img src="@Url.Content("~/Content/images/Learn_01.jpg")" width="185" height="170"></li>
                        <li style="float: left; margin-left: 20px">
                            <img src="@Url.Content("~/Content/images/Learn_02.jpg")" width="224" height="143"></li>
                        <li style="float: left; margin-left: 20px">
                            <img src="@Url.Content("~/Content/images/Learn_03.jpg")" width="191" height="182"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box_Gray">
            <div class="T_White">
            </div>
            <div class="box_960">
                <div class="box_660 color_333">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_03.png")" width="660" height="96" alt="专业分级 Professional Grading" title="专业分级 Professional Grading" >
                    </div>
                    <h3>
                        听 / 说 / 读 / 写细分12等级</h3>
                    <h4>
                        VIPABC在线语言分析针对个人英文问题深入了解，依照听、说、读、写不同能力细分为十二个等级，专业外籍顾问在您学习过程中，精确为您的英语程度把关，让您可以循序渐进提高英文能力。
                    </h4>
                    <h3>
                        美国大学评量方式评估升级
                    </h3>
                    <h4>
                        国内英文学习机构与学习系统大都以测验模式作为程度升级的依据，但VIPABC 则采用美国优质大学的评量方式，从学习报告、评估、联机操作、效益稽核、测验评量等结合数字专业外籍顾问建议并予以评估升级，不受限制测验学习能力，让您真正感受说一口流利英文的成就感。
                    </h4>
                    <img src="@Url.Content("~/Content/images/Grading_img.jpg")"  width="650" height="391">
                </div>
            </div>
        </div>
        <div class="box_White">
            <div class="T_Gray">
            </div>
            <div class="box_960">
                <div class="box_660 color_333">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_05.png")" width="660" height="96" alt="学习追踪系统 Learning materials system" title="学习追踪系统 Learning materials system"  >
                    </div>
                    <h3>
                        学习追踪系统英文成效精确掌握
                    </h3>
                    <h4>
                        深怕自己在学习过程中无法检视目前成果吗?VIPABC 特别研发学习追踪系统（LMS），同时针对每一位学习者所学过的教材以及外籍顾问指导的过程，留下详细纪录，完整追踪您的学习成效
                    </h4>
                    <h3>
                        无限复习成效倍增
                    </h3>
                    <h4>
                        您不需要一边抄笔记，一边忙着听顾问上课，VIPABC 为您全程同步录像上课实况，让您专心听、说英文，还可以无限次复习教材，有效提升自己的英文实力，学习效果倍增，就像置身国外与外籍人士面对面自然说英语。
                    </h4>
                </div>
            </div>
        </div>
        <div class="box_Orange">
            <div class="T_White">
            </div>
            <div class="box_960">
                <div class="box_660 color_fff">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_04.png")" width="660" height="96" alt="自选上课方式 Session Choice" title="自选上课方式 Session Choice"  >
                    </div>
                    <h4>
                        VIPABC 是由麦奇数位股份有限公司耗时三年研发的线、真人、同步英语视讯学习系统，突破传统美语教学、英语教学窠臼，提供学习者最具方便性的学习平台，打破传统教学的时间空间限制，您可以自由安排学习计划，任何时间、任何地点皆可上网学习，在全英文的数字学习环境中，与来自全球千位以上专业外籍顾问互动咨询，有效提高学习效率，降低学习成本，提升英语竞争力。
                    </h4>
                </div>
                <div class="box_660" style="margin-top: 20px">
                    <ul>
                        <li style="width: 651px; height: 132px; background: url(@Url.Content("~/Content/images/Choice_img_01.png"));
                        margin-top: 10px;">
                            <h3 style="margin-left: 160px; margin-right: 10px">
                                1对1 家教</h3>
                            <h4 style="margin-left: 160px; margin-right: 10px">
                                您可以获得外籍顾问百分之百的逐句指导，您甚至能自行提供上课教材（如：工作需要进行的英文简报档案），让顾问针对您的特殊需求，提供完整协助。</h4>
                        </li>
                        <li style="width: 651px; height: 132px; background: url(@Url.Content("~/Content/images/Choice_img_02.png"));
                        margin-top: 10px;">
                            <h3 style="margin-left: 160px; margin-right: 10px">
                                1-4人小班会话</h3>
                            <h4 style="margin-left: 160px; margin-right: 10px">
                                您将与程度相仿的其他客户一同学习，您能从他人的发言中，学习到您较少用的词汇，听见不同的观点。透过6人以下的小班制、深具教学经验的顾问引导，您的开口权益将不受影响。</h4>
                        </li>
                        <li style="width: 651px; height: 132px; background: url(@Url.Content("~/Content/images/Choice_img_03.png"));
                        margin-top: 10px;">
                            <h3 style="margin-left: 160px; margin-right: 10px">
                                主题式大会堂</h3>
                            <h4 style="margin-left: 160px; margin-right: 10px">
                                您不只学得语言的「知识」，更通过英语增长「见识」。大会堂的主题多为深具新闻话题、富有启发与趣味的主题，在外籍顾问由浅入深的引领下，您可在最短时间内，获得该主题最全面、最实用的内容。</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="part_03" class="box_Gray">
            <div class="T_Orange">
            </div>
            <div class="box_960">
                <div class="box_660 color_333" style="float: left;">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_06.png")" width="660" height="96" alt="行动学习 Mobile Learning" title="行动学习 Mobile Learning">
                    </div>
                    <h4>
                        VIPABC 全面支持移动学习，VIPABC On The Go提供24小时订位/上课
                    </h4>
                </div>
                <div class="box_660">
                    <div style="position: relative; margin-top: 20px; float: left;">
                        <a href="@Url.Action("App", "App")?type=5">
                        <img src="@Url.Content("~/Content/images/MobileLearning_01.png")" width="234" height="262">
                        </a>
                    </div>
                    <div style="position: relative; margin-top: 20px; margin-left: 10px; float: left;">
                        <h4>
                            「移动词汇通」每日精选5个单词，<br>
                            「词汇快手」玩遊戲輕鬆提升單字力<br>
                            「英文学习报」了解各国时事脉动<br>
                            「英语急救站」兼具趣味与实用的学习短片<br>
                        </h4>
                    </div>
                    <div style="position: relative; padding-top: 150px;">
                        <ul>
                            <li style="float: left; margin-left: 20px"><a href="@Url.Action("App", "App")?type=1">
                                <img src="@Url.Content("~/Content/images/MobileLearning_02.png")" width="85" height="107"></a></li>
                            <li style="float: left; margin-left: 20px"><a href="@Url.Action("App", "App")?type=4">
                                <img src="@Url.Content("~/Content/images/MobileLearning_03.png")" width="85" height="107"></a></li>
                            <li style="float: left; margin-left: 20px"><a href="@Url.Action("App", "App")?type=3">
                                <img src="@Url.Content("~/Content/images/MobileLearning_04.png")" width="85" height="107"></a></li>
                            <li style="float: left; margin-left: 20px"><a href="@Url.Action("App", "App")?type=2">
                                <img src="@Url.Content("~/Content/images/MobileLearning_05.png")" width="85" height="107"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="part_04" class="box_Orange">
            <div class="T_Gray">
            </div>
            <div class="box_960">
                <div class="box_660 color_fff">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_07.png")" width="660" height="96" alt="免费在线直播讲堂 Free Session" title="免费在线直播讲堂 Free Session">
                    </div>
                    <h4>
                        全球专业顾问在线提供包罗万象的咨询内容，名额有限，马上报名
                    </h4>
                </div>
                <div class="box_660 color_fff">
                    <div style="position: relative; margin-top: 20px; margin-left: 0px; float: left;">
                        <p class="color_fff" style="font-size: 24px;">
                            @LobbySession.SessionDateFirst @LobbySession.SessionTimeFirst@LobbySession.weekfirst</p>
                        <p class="color_fff" style="font-size: 18px; width: 290px; margin-top: 6px;">
                            @LobbySession.SessionNameFirst</p>
                        <p class="color_fff" style="font-size: 13px; width: 290px; margin-top: 10px; height: 90px;">
                            @LobbySession.SessionTypeFirst<br />
                            @LobbySession.SessionDescriptionFirst</p>
                        <a href="@LobbySession.LobbyLink"  target="_blank">
                            <img src="@Url.Content("~/Content/images/Reservation_btn.png")" width="289" height="50" style=" margin-left:-5px;"/></a>
                    </div>
                    <div style="position: relative; margin-top: 20px; margin-left: 20px; height: auto;
                        float: left;">
                         <a href="@LobbySession.LobbyLink"  target="_blank">
                        <img src="@ImageUrl/Lobbysession/@LobbySession.PictureSmall" width="320" height="188" style="display:block; margin:0 auto; float:left;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="part_05" class="box_White">
            <div class="T_Orange">
            </div>
            <div class="box_960">
                <div class="box_660 color_333" style="float: left;">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_08.png")" width="660" height="96" alt="客户见证 Testimonials" title="客户见证 Testimonials">
                    </div>
                    <h4>
                        感谢每位客户对我们的支持及肯定，您的进步是对我们最大的鼓励 VIPABC坚持给您高质量及便利有效的英语学习方式，数万位职场菁英的共同选择，诚挚的推荐给您！
                    </h4>
                </div>
                <div class="box_660 color_333" style="float: left;">
                    @if (FamousData != null)
                    {
                        if (FamousData.ToList()[0].VideoId != null && FamousData.ToList()[0].VideoId != "")
                        {
                        <div style="position: relative; margin-top: 20px; float: left;" onclick="ChangeYoukuURL('@FamousData.ToList()[0].VideoId'); thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'">
                            <img src="@ImageUrl/Images/FamousStory/@FamousData.ToList()[0].ImgUrl" width="638" height="386" style="float: left;" />
                        </div>
                        <div id="thevideo" style="display: none; z-index: -100;">
                        </div>
                        }
                        else
                        {                            
                        <div style="position: relative; margin-top: 20px; float: left;">
                            <a class="fancybox-media" href="@FamousData.ToList()[0].PageLink" target="_blank">
                                <img src="@ImageUrl/Images/FamousStory/@FamousData.ToList()[0].ImgUrl" width="638" height="386" style="float: left;" />
                            </a>
                        </div>
                        }
                    }
                    <div style="position: relative; margin-top: 20px; float: left;">
                        <ul>
                            @if (FamousData != null)
                            {
                                for (var i = 1; i < 6; i++)
                                {
                                    if (@FamousData.Count() > i)
                                    {                                        
                                <li style="float: left; width: 120px; margin-right: 10px">
                                    @if (FamousData.ToList()[i].VideoId != null && FamousData.ToList()[i].VideoId != "")
                                    {
                                        <a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=@FamousData.ToList()[i].VideoId&winType=adshow&isAutoPlay=true">
                                            <img src="@ImageUrl/Images/FamousStory/@FamousData.ToList()[i].ImgUrl" width="119" height="73">
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="fancybox-media" href="@FamousData.ToList()[i].PageLink" target="_blank">
                                            <img src="@ImageUrl/Images/FamousStory/@FamousData.ToList()[i].ImgUrl" width="119" height="73">
                                        </a>
                                    }
                                    <h5 class="color_333" style="text-align: left;">
                                        @FamousData.ToList()[i].Title</h5>
                                </li>
                                       
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="part_06" class="box_Gray">
            <div class="T_White">
            </div>
            <div class="box_960">
                <div class="box_660 color_333">
                    <div class="title_wrap">
                        <img src="@Url.Content("~/Content/images/title_09.png")" width="660" height="96" alt="英语学习专区 English Learning Resources" title="英语学习专区 English Learning Resources">
                    </div>
                    <h4>
                        VIPABC 为您提供在线学习专区，让您轻松加强英语能力</h4>
                </div>
                <div class="box_660">
                    <div class="index_list">
                        <ul>
                            <li class="index_dailywords_wrap">
                                <div class="index_list_White">
                                    每日一句</div>
                                <a href="@LessonDaily.video_file_link" target='_blank'>
                                    @{var img = @LessonDaily.consultant_sn + ".jpg";}
                                    <img src="http://www.vipabc.com/consultant_profile/@img" width="79" height="81"></a>
                                <div class="index_list_on">
                                    @LessonDaily.basic_fname 教你说：<br />
                                    @LessonDaily.e_topic
                                </div>
                            </li>
                            <li class="index_list_wrap">
                                <div class="index_list_Orange">
                                    英文报</div>
                                <a href="@Url.Action("EpaperList", "Epaper")">
                                    <img src="@Url.Content("~/Content/images/Resources02.png")" width="200" height="144"></a>
                                <div class="index_list_on">
                                    最新最热门的话题<br />
                                    VIPABC英文报和你一起掌握!
                                </div>
                            </li>
                            <li class="index_list_wrap">
                                <div class="index_list_Orange">
                                    英文急救站</div>
                                     <a class="fancybox-media" href="http://static.youku.com/v1.0.0149/v/swf/qplayer_rtmp.swf?VideoIDS=XMzk3NDM0MzQ0&winType=adshow&isAutoPlay=true">
                                    <img src="@Url.Content("~/Content/images/Resources03.png")" width="200" height="144"></a>
                                <div class="index_list_on">
                                    轻松有英文短剧<br />
                                    让您不费力气就能提升英语能力！
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box_660 color_333" style="float: left; background: url(@Url.Content("~/Content/images/Subscription_bg.png"));
                width: 660px; height: 95px;">
                    <div style="position: relative; height: 38px; margin-top: 25px; margin-left: 130px;
                        width: 500px; float: left; vertical-align: middle;">
                        <input name="txt_email" type="text" class="reg_field" id="txt_email" value="请输入您的邮箱"
                            onfocus="if(this.value=='请输入您的邮箱'){this.value='';this.className='reg_field';}else{this.className='reg_field_black';}"
                            onblur="if(this.value==''){this.value='请输入您的邮箱';this.className='reg_field';}else{this.className='reg_field_black';}"
                            style="height: 30px; vertical-align: middle; width: 360px; float: left;" />
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/Subscription_btn.png")" width="105" height="37" align="absmiddle" onclick="sendepaper()"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
    <div class="footer_links">
       <div class="box_960">
        <div class="foot_logo"><img src="@Url.Content("~/Content/images/footer_logo.png")" width="200" height="52"></div>
          <ul class="foot_permit">
              <li><img src="@Url.Content("~/Content/images/foot_permit_01.png")" width="182" height="34"></li>
              <li><img src="@Url.Content("~/Content/images/foot_permit_02.png")" width="182" height="34"></li>
              <li><img src="@Url.Content("~/Content/images/foot_permit_03.png")" width="182" height="34"></li>
              <li><img src="@Url.Content("~/Content/images/foot_permit_04.png")" width="182" height="34"></li>
          </ul>
          
          
          <ul class="foot_links_ul">
              <li>关于我们</li>
              <li><a href="#">选择VIPABC的理由</a></li>
              <li><a href="#">企业沿革</a></li>
              <li><a href="#">新闻中心</a></li>
              <li><a href="#">学术交流机构</a></li>
              <li><a href="#">企业荣耀</a></li>
              <li><a href="#">网站地图</a></li>
          </ul>
          
          <ul class="foot_links_ul">
              <li>服务特色</li>
              <li><a href="#">全英语学习环境</a></li>
              <li><a href="#">真人在线互動学习</a></li>
              <li><a href="#">24H小时不打烊</a></li>
              <li><a href="#">全球外籍顾问</a></li>
              <li><a href="#">全球首创移动学习</a></li>
              <li><a href="#">动态课程DCGS</a></li>
          </ul>
          
          
          <ul class="foot_links_ul">
              <li>我们的课程适合</li>
              <li><a href="#">上班族 / 专业人士</a></li>
              <li><a href="#">企业培训</a></li>
              <li><a href="#">出国游学</a></li>
              <li><a href="#">孩童/青少年</a></li>
              <li></li>
              <li></li>
          </ul>
          
          <ul class="foot_links_ul">
              <li>学英文最佳选择</li>
              <li><a href="#">最弹性的上课时间</a></li>
              <li><a href="#">最专业的外籍顾问</a></li>
              <li><a href="#">最隐私的上课环境</a></li>
              <li><a href="#">最有效的学习方法</a></li>
              <li><a href="#">最个性化的教材内容</a></li>
              <li><a href="#">最轻松的真人互动教学</a></li>
          </ul>
          
          <ul class="foot_links_ul">
              <li>VIPABC 帮你提升</li>
              <li><a href="#">英语口语</a></li>
              <li><a href="#">英语听力</a></li>
              <li><a href="#">英语作文</a></li>
              <li><a href="#">英语阅读</a></li>
              <li><a href="#">商务英语</a></li>
              <li><a href="#">职业英语</a></li>
          </ul>
          
          <ul class="foot_links_ul">
              <li>新闻中心</li>
              <li><a href="#">最新优惠</a></li>
              <li><a href="#">公司信息</a></li>
              <li><a href="#">媒体报导</a></li>
              <li><a href="#">学习资源</a></li>
              <li></li>
              <li></li>
          </ul>
          
          <ul class="foot_links_ul">
              <li>英语学习专区</li>
              <li><a href="#">在线免费讲堂</a></li>
              <li><a href="#">每日一句</a></li>
              <li><a href="#">英语电子报</a></li>
              <li><a href="#">移动学习App</a></li>
              <li></li>
              <li></li>
          </ul>
          
          
          <ul class="foot_links_ul">
              <li>与我联系</li>
              <li><a href="#">在线客服</a></li>
              <li><a href="#">联络我们</a></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
          
          <div class="foot_bottom_links">
            <p>
                <a href="/About/About">关于VIPABC</a>
                <a href="/Home/Privacy">隐私保护</a>
                <a href="/Home/Security">安全条款</a>
                <a href="/Home/Service">服务条款</a>
                <a href="http://www.vipabc.com/program/recruit/index.asp">诚征英才</a>
                <a href="http://biz.vipabc.com/" target="_blank">企业培训</a>
                <a href="/Home/ContactUs">联络我们</a>
            </p>
          </div>
          <div class="foot_tel"><a href="tel:4006-30-30-30"><img src="@Url.Content("~/Content/images/foot_tel.png")" width="184" height="44"></a></div>
        </div>      
    </div>
    
    <div class="footer_cert">
         <div class="box_960">
            <div class="footer_cert_icons">
            <p> 
                <a href="#"><img src="@Url.Content("~/Content/images/cert/cert_01.jpg")" width="106" height="40"></a>
                <a href="#"><img src="@Url.Content("~/Content/images/cert/cert_02.jpg")" width="110" height="40"></a>
                <a href="#"><img src="@Url.Content("~/Content/images/cert/cert_03.jpg")" width="110" height="40"></a>
                <a href="#"><img src="@Url.Content("~/Content/images/cert/cert_04.jpg")" width="110" height="40"></a>
                <a href="#"><img src="@Url.Content("~/Content/images/cert/cert_05.jpg")" width="112" height="40"></a>
                <a href="#"><img src="@Url.Content("~/Content/images/cert/cert_06.jpg")" width="110" height="40"></a>
            </p>
          </div>
          
         <div class="footer_cert_certline">
            <p> 教育许可 : 教职成司函 [ 2011 ] 267 号  |  经营许可证 : 京 ICP 证 090121 号  |  京 ICP 备 11004351 号</p>
            <p> VIPABC.com  版权所有 © 2008-2013 全球最大真人英语外教网 All Rights Reserved.</p>
         </div>            
         
            
            
            
         </div>
    </div>
</div>
    }
</body>
</html>
