@{
    Layout = null;
}
<head>
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/event_sub.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.scrollTo-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.easing.1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/albumSlides.js")"></script>
    <script type="text/javascript">
        function changTab(tab) {
            if (tab == 1) {
                document.getElementById("Tab1").style.display = "block";
                document.getElementById("Tab2").style.display = "none";

                document.getElementById("content1").style.display = "block";
                document.getElementById("content2").style.display = "none";

            }
            else {
                document.getElementById("Tab1").style.display = "none";
                document.getElementById("Tab2").style.display = "block";

                document.getElementById("content1").style.display = "none";
                document.getElementById("content2").style.display = "block";
            }
        }
        function changTabS(tab) {
            if (tab == 1) {
                document.getElementById("tabS1").style.display = "block";
                document.getElementById("tabS2").style.display = "none";
                document.getElementById("tabS3").style.display = "none";
                document.getElementById("tabS4").style.display = "none";
            }
            else if (tab == 2) {
                document.getElementById("tabS1").style.display = "none";
                document.getElementById("tabS2").style.display = "block";
                document.getElementById("tabS3").style.display = "none";
                document.getElementById("tabS4").style.display = "none";
            }
            else if (tab == 3) {
                document.getElementById("tabS1").style.display = "none";
                document.getElementById("tabS2").style.display = "none";
                document.getElementById("tabS3").style.display = "block";
                document.getElementById("tabS4").style.display = "none";
            }
            else if (tab == 4) {
                document.getElementById("tabS1").style.display = "none";
                document.getElementById("tabS2").style.display = "none";
                document.getElementById("tabS3").style.display = "none";
                document.getElementById("tabS4").style.display = "block";
            }
            else if (tab == 5) {
                document.getElementById("tabS5").style.display = "block";
                document.getElementById("tabS6").style.display = "none";
            }
            else {
                document.getElementById("tabS5").style.display = "none";
                document.getElementById("tabS6").style.display = "block";
            }
        }
    </script>
</head>
<!-- #############物件請載入至此 部分 start################ -->
<div class="tab_container">
    <div class="appad">
        <ul>
            <div id="Tab1" style="display: block;">
                <li class="Smart" onclick="changTab(1);">Smart Phone</li>
                <li class="appline">線</li>
                <li class="Tablet" onclick="changTab(2); "><a href="#">Tablet PC</a></li>
            </div>
            <div id="Tab2" style="display: none;">
                <li class="Smart" onclick="changTab(1);"><a href="#">Smart Phone</a></li>
                <li class="appline">線</li>
                <li class="Tablet" onclick="changTab(2); ">Tablet PC</li>
            </div>
        </ul>
    </div>
</div>
<div id="content1" style="display: block;">
    <div class="app_submenu4">
        <ul>
            <li><a href="#" onclick="changTabS(1);">
                <img src="http://www.vipabc.com/program/app/images/app_11.jpg" width="58" height="58"></a><br>
                移动词汇通</li>
            <li><a href="#" onclick="changTabS(2);">
                <img src="http://www.vipabc.com/program/app/images/app_13.jpg" width="58" height="58"></a><br>
                英语急救站</li>
            <li><a href="#" onclick="changTabS(3);">
                <img src="http://www.vipabc.com/program/app/images/app_07.jpg" width="58" height="58"></a><br>
                英语学习报</li>
            <li><a href="#" onclick="changTabS(4);">
                <img src="http://www.vipabc.com/program/app/images/Spelling game logo.png" width="58"
                    height="58"></a><br>
                词汇快手</li>
            <div class="Clear">
            </div>
        </ul>
    </div>
    <div class="box_shadow">
    </div>
    <div id="tabS1" style="display: block">
        <div class="app_links_warp">
            <div class="app_big_icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/appicon_VOCAPP_icon.png")" width="114" height="186"></a></div>
            <div class="app_info_wrap">
                <div class="app_title">
                    <p>
                        移动词汇通<br>
                        VOCAPP
                    </p>
                </div>
                <div class="app_des">
                    <p>
                        免费下载<br>
                        Category: Education<br>
                        Size: 1.1 MB
                    </p>
                </div>
            </div>
            <div class="app_stm_icon">
                <img src="@Url.Content("~/Content/images/appicon_apple_icon.png")" width="113" height="39"></div>
            <div class="app_qr">
                <a href="#">
                    <img src="http://www.vipabc.com/program/app/images/MobileQRCode.png" width="113"
                        height="112"></a></div>
        </div>
        <div class="app_lnfo_warp">
            <p class="STYLE2">
                每日精选5个单词<br>
                让您的英语能力积沙成塔·轻松升级</p>
            <p id="j-album-less" class="closeview">
                服务说明：<br>
                ● 精选5个单词‧每日自动更新<br>
                您不需要背下一本辞典，只需要掌握最常见、最常用的关键词汇!<br>
                <br>
                ● 附中英文解释‧加深印象<br>
            </p>
            <p class="shouzhanOpen setright closeview">
                <a href="javascript://void(0);" onclick="turnMore('more')">更多</a></p>
            <p>
            </p>
            <p id="j-album-more" class="openview">
                服务说明：<br>
                ● 精选5个单词‧每日自动更新<br>
                您不需要背下一本辞典，只需要掌握最常见、最常用的关键词汇!<br>
                <br>
                ● 附中英文解释‧加深印象<br>
                用英语理解英语，最能快速拓展您的词汇量，从此和英语变熟，不再会错意。<br>
                <br>
                ● 在线发音‧会念、会拼、自然开口
                <br>
                聆听正确发音并附音标说明，帮助您勇敢开口，英语自然朗朗上口！</p>
            <img src="http://www.vipabc.com/program/app/images/app_26.jpg" alt="">
            <img src="http://www.vipabc.com/program/app/images/app_28.jpg" alt=""></div>
    </div>
    <div id="tabS2" style="display: none">
        <div class="app_links_warp">
            <div class="app_big_icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/appicon_Survival_English_icon.png")" width="114" height="186"></a></div>
            <div class="app_info_wrap">
                <div class="app_title">
                    <p>
                        英语急救站<br>
                        Survival English
                    </p>
                </div>
                <div class="app_des">
                    <p>
                        免费下载<br>
                        Category: Education<br>
                        Size: 3.4 MB
                    </p>
                </div>
            </div>
            <div class="app_stm_icon">
                <img src="@Url.Content("~/Content/images/appicon_apple_icon.png")" width="113" height="39"></div>
            <div class="app_qr">
                <a href="#">
                    <img src="http://www.vipabc.com/program/app/images/aidQRCode.png" width="113" height="112"></a></div>
        </div>
        <div class="app_lnfo_warp">
            <p class="STYLE2">
                兼具趣味与实用的学习短片<br>
                让您不费力气就能提升听说、词汇，快速加值英语能力！</p>
            <p id="j-album-less" class="closeview">
                「英语急救站」为VIPABC专业团队策划、拍摄，在生动精彩的剧情中，巧妙融入常见的英语使用情境、说明易犯错误，让您在享受影片的同时，自自然然学好英语，加深印象；通过移动阅读平台与简约的操作接口，您更无须费时前往剧院或花钱买DVD，任何时间、任何地点、多元化平台，都能开启英语之门，身临其境。<br>
                <br>
            </p>
            <p class="shouzhanOpen setright closeview">
                <a href="javascript://void(0);" onclick="turnMore('more')">更多</a></p>
            <p>
            </p>
            <p id="j-album-more" class="openview">
                「英语急救站」为VIPABC专业团队策划、拍摄，在生动精彩的剧情中，巧妙融入常见的英语使用情境、说明易犯错误，让您在享受影片的同时，自自然然学好英语，加深印象；通过移动阅读平台与简约的操作接口，您更无须费时前往剧院或花钱买DVD，任何时间、任何地点、多元化平台，都能开启英语之门，身临其境。<br>
                <br>
                服务特色：<br>
                ● 趣味影片 边玩边学
                <br>
                充满着各种生动有趣的影片，让您也能轻松学英语。<br>
                <br>
                ● 英美单元剧任你看
                <br>
                随时享受VIPABC专业团队所策划的单元剧，让您学习英语好有趣。<br>
                <br>
                ● 随选即看<br>
                从轻松小短剧到英文小意思，还有更多有趣的单元都在英语急救站。<br>
                <br>
                ● 真人语言程度分析<br>
                想要了解自己的英语程度落在哪呢？拨打免费专线由专业顾问为您的英语做全盘性的分析！</p>
            <img src="http://www.vipabc.com/program/app/images/app_27.jpg">
            <img src="http://www.vipabc.com/program/app/images/app_29.jpg"></div>
    </div>
    <div id="tabS3" style="display: none">
        <div class="app_links_warp">
            <div class="app_big_icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/appicon-epaper_1.png")" width="114" height="186"></a></div>
            <div class="app_info_wrap">
                <div class="app_title">
                    <p>
                        英语学习报<br>
                        ePaper
                    </p>
                </div>
                <div class="app_des">
                    <p>
                        免费下载<br>
                        Category: Education<br>
                        Size: 4.0 MB
                    </p>
                </div>
            </div>
            <div class="app_stm_icon">
                <img src="@Url.Content("~/Content/images/appicon_apple_icon.png")" width="113" height="39"></div>
            <div class="app_qr">
                <a href="#">
                    <img src="http://www.vipabc.com/program/app/images/VIPABCaidforiOS.png" width="113"
                        height="112"></a></div>
        </div>
        <div class="app_lnfo_warp">
            <p class="STYLE2">
                了解各国时事脉动，体会世界人文之旅<br>
                英语学习报绝对是您第一手消息的最佳来源！</p>
            <p id="j-album-less" class="closeview">
                VIPABC拥有遍布全球32国的外籍顾问群，如第一线的驻地记者为您汇整最热门的时事议题，更带回各地的文化采风、社会动脉，凝聚成一篇篇引人入胜的佳文!透过行动阅读平台与简约的操作接口，大幅减省您搜寻文章的时间与力气，任何时间、任何地点、多元载具，让您一手掌握趋势，拉阔视野。<br>
                <br>
            </p>
            <p class="shouzhanOpen setright closeview">
                <a href="javascript://void(0);" onclick="turnMore('more')">更多</a></p>
            <p>
            </p>
            <p id="j-album-more" class="openview">
                VIPABC拥有遍布全球32国的外籍顾问群，如第一线的驻地记者为您汇整最热门的时事议题，更带回各地的文化采风、社会动脉，凝聚成一篇篇引人入胜的佳文!透过行动阅读平台与简约的操作接口，大幅减省您搜寻文章的时间与力气，任何时间、任何地点、多元载具，让您一手掌握趋势，拉阔视野。<br>
                <br>
                服务特色：<br>
                ● 「真人语音文章导读」功能<br>
                由最专业的外籍顾问，依照每篇学习报内容，录制真人语音文章导读 并且搭配自动重复拨放功能，更能让您加强自己的听力能力，用「听」的就能轻松学英语。<br>
                <br>
                ● 掌握社会脉动<br>
                藉由各式文化、旅游、人文...等信息，通过英语学习报的信息让您在学习英语的同时也能吸收各式各样的新信息。<br>
                <br>
                ● 云端信息 实时更新<br>
                每月定期更新学习报内容，并搭配外籍顾问精心挑选的热门议题 让您在学英语之余，也能第一手了解国内外重大信息。<br>
                <br>
                ● 关键单字解析<br>
                将关键性的单字详细解说，并且提供例句让您学会最正确的单字用法。<br>
                <br>
                ● 在线串流 不占空间<br>
                透過云端系统服务，既使您观看了数十篇学习报内容 也丝毫不占的您手机空间。</p>
            <img src="http://www.vipabc.com/program/app/images/app_32.jpg">
            <img src="http://www.vipabc.com/program/app/images/app_33.jpg"></div>
    </div>
    <div id="tabS4" style="display: none">
        <div class="app_links_warp">
            <div class="app_big_icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/appicon_Spelling_Game.png")" width="114" height="186"></a></div>
            <div class="app_info_wrap">
                <div class="app_title">
                    <p>
                        词汇快手</p>
                </div>
                <div class="app_des">
                    <p>
                        免费下载<br>
                        Category: Education<br>
                        Size: 143MB</p>
                </div>
            </div>
            <div class="app_stm_icon">
                <img src="@Url.Content("~/Content/images/appicon_apple_icon.png")" width="113" height="39"></div>
            <div class="app_qr">
                <a href="#">
                    <img src="http://www.vipabc.com/program/app/images/Spelling game HD.png" width="113"
                        height="112"></a></div>
        </div>
        <div class="app_lnfo_warp">
            <p class="STYLE2">
                今年最刺激、最富教学性的教育类游戏APP，「词汇快手」全新登场！<br>
                您是否有曾经下载一款英文学习类的APP后，即不再打开过它吗？<br>
                或是枯燥乏味的单字卡APP让你一下子就失去背诵单字的热情？<br>
            </p>
            <p id="j-album-less" class="closeview">
                「词汇快手」是一款以游戏性质进行拼字竞赛的APP，透过登入新浪微博 您即可与全球拼字高手一较高下！同时，还可以了解自己好友们的分数 与好友来场良性的竞争！计时制的竞赛方式，让您能不断挑战自我极限
                并且在您游戏期间，累积自己的单字实力！<br>
            </p>
            <p class="shouzhanOpen setright closeview">
                <a href="javascript://void(0);" onclick="turnMore('more')">更多</a></p>
            <p>
            </p>
            <p id="j-album-more" class="openview">
                「词汇快手」是一款以游戏性质进行拼字竞赛的APP，透过登入新浪微博 您即可与全球拼字高手一较高下！同时，还可以了解自己好友们的分数 与好友来场良性的竞争！计时制的竞赛方式，让您能不断挑战自我极限
                并且在您游戏期间，累积自己的单字实力！<br>
                <br>
                当您的分数累积至一定的分数后，还可以换得语言程度分析与限量的 商用英文DVD+CD+随身小册，透过持续不间断的学习英文，才是增加 英文实力的重要关键！<br>
                <br>
                游戏特色：<br>
                ● 挑战极限词汇快手就是你<br>
                摆脱传统背单字的方式！快.狠.准是让你成为「词汇快手」的第一准则！<br>
                <br>
                ● 停不下来 就是要再来一场<br>
                挑战自己的词汇能力，既使达到正确率100%，依旧可以挑战全球排行榜！<br>
                <br>
                ● 只要你够快 冠军宝座等着你<br>
                每隔周重置一次的排行榜，让你也有机会站上世界的巅峰！<br>
                <br>
                ● 广发英雄帖 与好友一同竞争<br>
                透过新浪微博、E-mail、简讯的邀请，让你与好朋友们来场良性竞争！<br>
                <br>
                精彩服务由VIPABC独家提供<br>
                iPhone/iPad版本同步上市中!!<br>
                <br>
                www.VIPABC.com<br>
                英语学习 第一品牌<br>
                ★ 全球24时区、外籍师资<br>
                ★ 全天24小时自主排课<br>
                ★ 100 % 量身订制个人课程<br>
                ★ 100 % 在线互动不拘时空<br>
                ★ 每年逾2,300,000使用人次、口碑肯定<br>
            </p>
            <img src="http://www.vipabc.com/program/app/images/SpellinggameHD-1.jpg" class="portrait"
                alt="iPhone Screenshot 1" width="256" height="383">
            <img src="http://www.vipabc.com/program/app/images/SpellinggameHD-2.jpg" class="portrait"
                alt="iPhone Screenshot 2" width="256" height="383">
        </div>
    </div>
</div>
</div>
<div id="content2" style="display: none;">
    <div class="app_submenu4">
        <ul>
            <li><a href="#" onclick="changTabS(5);">
                <img src="http://www.vipabc.com/program/app/images/VIPABC On The Go logo.png" width="58"
                    height="58"></a><br>
                VIPABC On The Go</li>
            <li><a href="#" onclick="changTabS(6);">
                <img src="http://www.vipabc.com/program/app/images/Spelling game logo.png" width="58"
                    height="58"></a><br>
                词汇快手HD</li>
            <div class="Clear">
            </div>
        </ul>
    </div>
    <div class="box_shadow">
    </div>
    <div id="tabS5" style="display: block">
        <div class="app_links_warp">
            <div class="app_big_icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/appicon_VIPABC_On_The_Go.png")" width="114" height="186"></a></div>
            <div class="app_info_wrap">
                <div class="app_title">
                    <p>
                        VIPABC
                        <br>
                        On The Go
                    </p>
                </div>
                <div class="app_des">
                    <p>
                        免費下載<br>
                        Category:Education<br>
                        Size: 28.5MB
                    </p>
                </div>
            </div>
            <div class="app_stm_icon">
                <img src="@Url.Content("~/Content/images/appicon_apple_icon.png")" width="113" height="39"></div>
            <div class="app_qr">
                <a href="#">
                    <img src="http://www.vipabc.com/program/app/images/VIPABC On The Go.png" width="113"
                        height="112"></a></div>
        </div>
        <div class="app_lnfo_warp">
            <p class="STYLE2">
                &nbsp;VIPABC 是全球唯一提供<br>
                「全球跨24时区师资、天天24小时服务、」的真人在线学习企业。</p>
            <p id="j-album-less" class="closeview">
                现在，您只要拿起手上的平板计算机连上网络，马上开始云端学习旅程，透过全球24时区最专业的外籍顾问，并藉由VIPABC专利的『DCGS』动态生成课程系统，让您学习无负担，轻松提升英文语言能力！<br>
                <br>
                无论何时何地，都能实时与全球最专业的外籍顾问进行最密切的在线互动学习；24小时</p>
            <p class="shouzhanOpen setright closeview">
                <a href="javascript://void(0);" onclick="turnMore('more')">更多</a></p>
            <p>
            </p>
            <p id="j-album-more" class="openview">
                现在，您只要拿起手上的平板计算机连上网络，马上开始云端学习旅程，透过全球24时区最专业的外籍顾问，并藉由VIPABC专利的『DCGS』动态生成课程系统，让您学习无负担，轻松提升英文语言能力！<br>
                <br>
                无论何时何地，都能实时与全球最专业的外籍顾问进行最密切的在线互动学习；24小时自选课程，再冷门的上课时段，也阻挡不了您学习的热情。<br>
                <br>
                最优质的学习服务，唯有VIPABC！<br>
                <br>
                服务特色：<br>
                ● 随时随地展开您的行动学习<br>
                无论任何时间、任何地点，皆能身处英语学习环境！学习不必局限教室，舟车劳顿更成过去式。
                <br>
                <br>
                ● 24小时全天候真人实时教学 让您与外籍顾问实际互动，自然开口，连语言中最微妙的情绪、表情、字汇选用、音调起伏，都能完整掌握。<br>
                <br>
                ● 包罗万象的网络直播课程<br>
                网络直播的主题多为深具新闻话题、富有启发与 趣味的主题，在外籍顾问由浅入深的引领下，您可在最短时间内，获得该主题最全面、最实用的内容。<br>
                <br>
                ● 全球外籍顾问 打造学习联合国<br>
                伦敦、纽约、香港、悉尼…横跨南北半球、五大洲，让全世界24时区都有您的专属顾问。在VIPABC，您找到真正的学习日不落国！<br>
                <br>
                VIPABC 英语学习 第一品牌<br>
                <br>
                ★ 全球24时区、外籍师资<br>
                ★ 全天24小时自主排课<br>
                ★ 100 % 量身订制个人课程<br>
                ★ 100 % 在线互动不拘时空<br>
                ★ 每年逾2,300,000使用人次、口碑肯定<br>
            </p>
            <img src="http://www.vipabc.com/program/app/images/VIPABCOnTheGo-1.jpg" class="portrait"
                alt="" height="383">
        </div>
    </div>
    <div id="tabS6" style="display: none">
        <div class="app_links_warp">
            <div class="app_big_icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/appicon_Spelling_Game.png")" width="114" height="186"></a></div>
            <div class="app_info_wrap">
                <div class="app_title">
                    <p>
                        词汇快手HD</p>
                </div>
                <div class="app_des">
                    <p>
                        免费下载<br>
                        Category: Education<br>
                        Size: 143MB</p>
                </div>
            </div>
            <div class="app_stm_icon">
                <img src="@Url.Content("~/Content/images/appicon_apple_icon.png")" width="113" height="39"></div>
            <div class="app_qr">
                <a href="#">
                    <img src="http://www.vipabc.com/program/app/images/Spelling game HD.png" width="113"
                        height="112"></a></div>
        </div>
        <div class="app_lnfo_warp">
            <p class="STYLE2">
                今年最刺激、最富教学性的教育类游戏APP，「词汇快手」全新登场！<br>
                您是否有曾经下载一款英文学习类的APP后，即不再打开过它吗？<br>
                或是枯燥乏味的单字卡APP让你一下子就失去背诵单字的热情？<br>
            </p>
            <p id="j-album-less" class="closeview">
                「词汇快手」是一款以游戏性质进行拼字竞赛的APP，透过登入新浪微博 您即可与全球拼字高手一较高下！同时，还可以了解自己好友们的分数 与好友来场良性的竞争！计时制的竞赛方式，让您能不断挑战自我极限
                并且在您游戏期间，累积自己的单字实力！<br>
            </p>
            <p class="shouzhanOpen setright closeview">
                <a href="javascript://void(0);" onclick="turnMore('more')">更多</a></p>
            <p>
            </p>
            <p id="j-album-more" class="openview">
                「词汇快手」是一款以游戏性质进行拼字竞赛的APP，透过登入新浪微博 您即可与全球拼字高手一较高下！同时，还可以了解自己好友们的分数 与好友来场良性的竞争！计时制的竞赛方式，让您能不断挑战自我极限
                并且在您游戏期间，累积自己的单字实力！<br>
                <br>
                当您的分数累积至一定的分数后，还可以换得语言程度分析与限量的 商用英文DVD+CD+随身小册，透过持续不间断的学习英文，才是增加 英文实力的重要关键！<br>
                <br>
                游戏特色：<br>
                ● 挑战极限词汇快手就是你<br>
                摆脱传统背单字的方式！快.狠.准是让你成为「词汇快手」的第一准则！<br>
                <br>
                ● 停不下来 就是要再来一场<br>
                挑战自己的词汇能力，既使达到正确率100%，依旧可以挑战全球排行榜！<br>
                <br>
                ● 只要你够快 冠军宝座等着你<br>
                每隔周重置一次的排行榜，让你也有机会站上世界的巅峰！<br>
                <br>
                ● 广发英雄帖 与好友一同竞争<br>
                透过新浪微博、E-mail、简讯的邀请，让你与好朋友们来场良性竞争！<br>
                <br>
                精彩服务由VIPABC独家提供<br>
                iPhone/iPad版本同步上市中!!<br>
                <br>
                www.VIPABC.com<br>
                英语学习 第一品牌<br>
                ★ 全球24时区、外籍师资<br>
                ★ 全天24小时自主排课<br>
                ★ 100 % 量身订制个人课程<br>
                ★ 100 % 在线互动不拘时空<br>
                ★ 每年逾2,300,000使用人次、口碑肯定<br>
            </p>
            <img src="http://www.vipabc.com/program/app/images/SpellinggameHD-1.jpg" class="portrait"
                alt="iPhone Screenshot 1" width="256" height="383">
            <img src="http://www.vipabc.com/program/app/images/SpellinggameHD-2.jpg" class="portrait"
                alt="iPhone Screenshot 2" width="256" height="383">
        </div>
    </div>
</div>
</div>
<!-- #############物件請載入至此 部分 end################ -->
