@{
    ViewBag.Title = "ClassRecordViews";
}

<h2>ClassRecordViews</h2>
<script type="text/javascript">
    //var MyJson = { "ProfileId": 1234, "ContractId": 1234, "ClassStartDate": "2013-03-05", "ClassStartTime": 11 };
    //$.ajax({
    //    url: '@Url.Action("ClassRecord")',
    //    type: "POST",
    //    dataType: 'json',
    //    data: MyJson,
    //    success: function (result) {
    //        alert("success:" + result);
    //        //$("#show").html(Result);
    //    },
    //    error: function (result) {
    //        alert("error");
    //    }
    //});

    //var objTest = {
    //    ProfileId: 1234,
    //    ContractId: 1234,
    //    ClassStartDate: "2013-03-05",
    //    ClassStartTime: 11
    //};
    //alert(objTest.ProfileId);
    //alert(objTest.ClassStartDate);

    //$.ajax({
    //    url: '@Url.Action("ClassRecord")',
    //    type: "POST",
    //    dataType: 'json',
    //    data: objTest.ProfileId,
    //    //contentType: "application/json; charset=utf-8",
    //    //beforeSend: function () { $("#saveStatus").html("Saving").show(); },
    //    success: function (result) {
    //        alert(result.Result);
    //        $("#show").html(Result);
    //    },
    //    error: function (result) {
    //        alert("error");
    //    }
    //});

</script>
@ViewBag.intProfileId
@ViewBag.intContractId
@ViewBag.strClassStartDate
@ViewBag.intClassStartTime
@ViewBag.intClassTypeId
@ViewBag.intClassStatusId 
@ViewBag.a
@ViewBag.bolCheckClassRecord
@ViewBag.b
@ViewBag.bolInsertClassRecord
@ViewBag.c
@ViewBag.bolUpdateClassRecord
@ViewBag.d
@ViewBag.bolInsertClassRecordLog